:root
{
    --first-color: rgb(222, 221, 181);
    --second-color:  rgb(152, 195, 155);
    --third-color: rgba(0,212,255,1);
}

main {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
}

body {
    background: linear-gradient(180deg, var(--first-color)  0%, var(--second-color) 35%, var(--third-color) 100%);
    background-attachment: fixed;
}

header { 
    padding: 1%;
    font-size: larger;
    z-index: 2;
}

.card {
    width: 200px;
    height: 200px;
    border: 3px dotted rgb(255, 255, 255);
    padding: 50px;
    margin: 30px 30px; 
}
.card h3
{
    font-size: 15px;
    margin: 0;
}
.card-title{
    height: 50px;
    width: 200px;
    background-color:rgb(220, 236, 198) ;
    z-index: 2;
    position: relative;
    top:-80px;
    margin:0;
    transition: color 2s;
    
}
.card-title:hover
{
    background-color: rgb(0, 255, 13);
}

.snippet {

    width: 200px;
    border: 3px solid black;
    background: yellowgreen;
    background: linear-gradient(180deg, var(--first-color)  0%, var(--second-color) 35%, var(--third-color) 100%);
    font-family: monospace;
    color: rgb(0, 0, 0);
    user-select: all;
    margin-top: 15px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
    
code {
    font-family: Courier, 'New Courier', monospace;
    font-size: 11px;
}
    
